

  <div id="container">
  <div id="top">
    <div class="logo">
    </div>
    <div id="TextHeader">
      Cash flow improvement specialists for healthcare providers
      <br/>
      <br/>
    </div>
  </div>
  <div id="login1">
    <%= form_tag session_url(:protocol => current_site.protocol),:autocomplete=>"off" do -%>
      <table border="0">
        <tr>
          <td style="padding-bottom: 10px"><span>User Name</span></td>
          <td style="padding-left: 16px;padding-bottom: 10px"><div class="roundText">
            <%= text_field_tag 'login', params[:login], :class=>"txtField", :id=>"nametxt", :style=> "border:none;border-style: hidden;" %>
            <!--<input autocomplete="off"  type="text" id="nametxt" class="txtField" name="nametxt" value="" />-->
          </div></td>
        </tr>
        <tr>
          <td><span>Password</span></td>
          <td style="padding-left: 16px"><div class="roundText">
            <%= password_field_tag 'password', nil, :class=>"txtField", :id=> "passtxt" %>
            <!--<input autocomplete="off" type="password" id="passtxt" class="txtField" name="passtxt" value="" />-->
          </div>
        </tr>
        <tr><td></td>
          <td> <div id="btncont">
            <button type="submit" class="Lbutton orange"><%=t("login.one")%></button>
            <!--<input type="submit" id="btn" value="Login" class="Lbutton orange" name="submit" />-->
          </div>
          </td>
        </tr>
      </table>
    <% end -%>
  </div>
       </div>

  <script>
      if (navigator.userAgent.toLowerCase().indexOf("chrome") >= 0) {
          $(window).load(function(){
              $('input:-webkit-autofill').each(function(){
                  var text = $(this).val();
                  var name = $(this).attr('name');
                  $(this).after(this.outerHTML).remove();
                  $('input[name=' + name + ']').val(text);
              });
          });
      }
  </script>